body {
    display: flex;
    flex-direction: column;
    height: 1080px;
    width: 1920px;
    justify-content: center;
    align-items: center;
    border: 2px double black;
}

.button_container {
    display: flex;
    height: 250px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    height: 50px;
    justify-content: center;
    background-color: #406d3b;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.btn i {
    padding-right: 5px;
}

.btn:hover {
    background-color: #1e311d;
}
